
* {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
}


 
 body {
   background-image:linear-gradient(rgba(255, 255, 255, 0), rgba(30, 30, 30, 0.575)), url(./IMAGENES-HOME/imagen-fondo-de-home.png);
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
   min-height: 100vh;
 }

 main{
    width: 1000px;
    margin: auto;
    text-align: left;
 }

 nav {
    display: flex;
    justify-content: center;    
}

  .btn-menu {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: rgba(255, 115, 0, 0.753);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    border-radius: 6px;
    transition: all 0.8s ease-in-out;
    
    
}

.btn-menu:hover {
    background-color: rgb(132, 0, 255); 
    cursor: pointer;           
    transform: scale(120%);
}

header {
   position: sticky;
   top: 0;


}






 #tituloHome {
   font-weight: 800; font-style: italic; text-transform: uppercase;
   color: rgba(255, 255, 255, 0.438);
   box-shadow: 0 0 40px rgb(255, 255, 255);
   font-size: 70px;
   text-align: center;

 }

 h2{
    text-align: left;
    font-size: 40px;
    color:  rgba(255, 115, 0, 0.603);
    padding: 20px;
 }


 p{
   color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    border-right: 1px;
    margin-bottom: 3%;
    line-height: 1.6;
   }

   span{
 color: rgba(255, 115, 0, 0.603);
     -webkit-text-stroke: 0.5px rgba(4, 3, 4, 0.439);


   }

   
.redes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    
}


.config-red {
    display: block;
    transition: transform 0.6s;

}

.config-red img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    box-shadow: 1px 2px 2px #ffffff;
}

.config-red:hover {
    transform: scale(1.5);
    cursor: pointer;
}



   

footer {
    display: flex;
    justify-content: center;
}