body {
    background: linear-gradient(rgb(0, 0, 0), rgba(82, 82, 82, 0.548)), url(./IMAGENES-SOBRE-LA-PELICULA/fondo-sobre-la-peli-body.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

}

main {
 width: 80%;
    margin: auto;
    

}

header {
    position: sticky;
    top: 0;


}

.contenedorVid{
    display: flex;
   justify-content: center;
  
    

}

.videoReprod{
display: flex;
 }

iframe{
width: 450px;
height: 200px;
mix-blend-mode:screen;
border: 10px solid rgba(202, 101, 6, 0.589);
box-shadow: 1px 1px 50px rgba(200, 255, 0, 0.432);
border-radius: 15%;
}

p{
    color: rgb(255, 182, 47);
    text-shadow: 1px 1px 1px rgb(17, 0, 94);
}


span {
    color: rgb(255, 255, 255);
}


