body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(71, 71, 71, 0.74)), url(./IMAGENES-REPARTO/imagen-fondo-reparto.png);
    background-attachment:fixed;


}

main {
 width: 80%;
    margin: auto;
    
    
    

}


h3 {
    font-weight: 800; font-style: italic; text-transform: uppercase;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 0.2px rgb(4, 4, 4);

}

.contenedorImagen {
    display: flex;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(5, 0, 0);


}

p {
    text-shadow: 1px 1px black;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 1%;
    color: rgb(255, 182, 47);
    line-height: 1.6;
}



