body {
    background-image: linear-gradient(rgba(163, 177, 226, 0.877), rgba(9, 173, 255, 0.323)), url(./IMAGENES-CONTACTO/fondo-contacto.jpg);
    background-attachment: fixed;
}

h1 {
    font-weight: 800; font-style: italic; text-transform: uppercase;
    font-size: 60px;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
}

fieldset {
    border: 3px solid #4444489a;
    border-radius: 10px;
    box-shadow: 0 0 20px #61a6fab7;
    background-image: linear-gradient(rgba(163, 177, 226, 0.014), rgba(2, 43, 64, 0));
    display: flex;
    flex-direction: column;
    width: 40px;
    margin: 0 auto;
    gap: 40px;
}

label input, label textarea{
width:500px;
padding: 5px ;

}
div {
    padding: 5px;
    text-align: center;
}
