* {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

body {
    background-image: url(./IMAGENES-CONTACTO/fondo-formulario.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main{
    padding-top: 700px;
}


 .btn-menu {
    display: inline-block; 
    padding: 12px 30px;      
    margin: 5px;              
    color: rgb(254, 195, 0);            
    text-decoration: none;     
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;       
    transition: all 0.6s ease-in-out;
}

.btn-menu:hover {
    background-color: rgba(255, 255, 255, 0.3); 
    cursor: pointer;           
    transform: scale(110%);
}



 h1{
    text-align: center;
    margin-top: 5px;
    color: rgb(254, 195, 0);
    -webkit-text-stroke: 0.5px rgb(10, 0, 0);

 }


 