body {
    background: linear-gradient(rgba(31, 40, 46, 0.568), rgba(2, 0, 0, 0.582)), url(IMAGENES-CURIOSIDADES-Y-PREMIOS/fondo-curiocidades-y-premios.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

main{
     width: 80%;
    margin: auto;
    text-align: left;
    
}


section {
    color: rgb(255, 182, 47);
    padding: 1%;
    border-right: 1px;
    margin-bottom: 3%;

}





