body {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(67, 41, 1, 0.514)), url(IMAGENES-CURIOSIDADES-Y-PREMIOS/fondo-curiocidades-y-premios.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

main{
    width: auto;
    height: auto;
}

h1 {
    color: rgb(255, 255, 255); 
    -webkit-text-stroke: 0.5px rgb(77, 209, 253);
    font-size: 60px;
    padding: 5px;
    text-align: center;
}

h2 {
    color: rgb(77, 209, 253);
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    padding-top: 50px;
}

section {
    color: rgb(237, 237, 237);
    padding: 1%;
    border-right: 1px;
    margin-bottom: 3%;

}

span {
    color: rgb(77, 209, 253);
     -webkit-text-stroke: 0.5px rgb(81, 81, 81);

}



