body {
     background-image:linear-gradient(rgba(0, 0, 0, 0.548), rgba(121, 37, 5, 0.329)), url(./IMAGENES-PRODUCCION-Y-ESTUDIO-DE-GRABACION/fondo-prodYEstGrab.png);

}

main{
   
    width: auto;
    margin: auto;
}

.contenedor{
    display: flex;
}

.ubiImag, .ubiParrafos{
display: flex;
flex-direction: column;


}



.los-civic, .toretoOcconor, .charger-engine{

    width: 700px;
    height: 400px;
    padding: 20px;
}


h1{
    font-weight: 800; font-style: italic; text-transform: uppercase;
    color: rgb(235, 235, 235);
    font-size: 60px;
    padding: 5px;
    text-align: center;

}

h2{
    color:rgb(235, 235, 235);
    text-align: center;
}





p {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(14, 9, 1);
    
}

span{
color: #ffffff;
-webkit-text-stroke: 0.5px rgb(0, 0, 0);
   }
   

