body {
     background-image:linear-gradient(rgba(0, 0, 0, 0.548), rgba(121, 37, 5, 0.329)), url(./IMAGENES-PRODUCCION-Y-ESTUDIO-DE-GRABACION/fondo-prodYEstGrab.png);

}

main{
    width: auto;
    margin: auto;
}

.contenedor-imgs{
display: flex;            
    flex-direction: row;       
    justify-content: center;   
    gap: 20px;                 
    margin-bottom: 3%;

}

.imagen-produccion-supra-charger{
      background-image: url('./IMAGENES-PRODUCCION-Y-ESTUDIO-DE-GRABACION/imagen-vuelco-charger.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.366));

}

        .imagen-vuelco-charger{
            background-image: url('./IMAGENES-PRODUCCION-Y-ESTUDIO-DE-GRABACION/imagen-produccion-supra-charger.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.366));

        }

        .imagen-dvd{

              background-image: url('./IMAGENES-PRODUCCION-Y-ESTUDIO-DE-GRABACION/imagen-dvd.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 305px;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.366));

        }

h1{
    font-weight: 800; font-style: italic; text-transform: uppercase;
    color: rgb(235, 235, 235);
    font-size: 60px;
    padding: 5px;
    text-align: center;

}

h2{
    color:rgb(235, 235, 235);
    text-align: center;
   
   
}

.containerImagProdyEst {
    border-radius: 15px;
    background-color: rgba();
    box-shadow: 0 0 40px rgb(235, 235, 235);

}

p {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(14, 9, 1);
    
}

span{
color: #ffffff;
-webkit-text-stroke: 0.5px rgb(0, 0, 0);
   }
   

